body {
  background-color: #f9dbb1;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

#title {
  color: #232eff;
}

.button {
  flex-basis: 24%;
  border-right: 1px solid #f2fffe;
  border-bottom: 1px solid #f2fffe;
  margin: 0;
  flex-grow: 1;
}

.right-side {
  border-right: 0;
}

.bottom-row {
  border-bottom: 0;
}

#display {
  flex-basis: 72%;
  text-align: right;
  padding-right: 10px;
  padding-top: 30px;
}

#display h2 {
  margin: auto;
}

#calculator-body {
  background-color: #232eff;
  width: 40%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto;
  box-shadow: 10px 10px 5px #888888;
}

h2 {
  color: #f2fffe;
  font-weight: 100;
  font-size: 2em;
}

.operator, .equals {
  background-color: #c2c5fc;
}

.operator h2, .equals h2 {
  color: #232eff;
}

#equals:hover, #clear:hover {
  background-color: #000000;
}
