body {
  background-color: #f9dbb1;
  font-family: sans-serif;
  text-align: center;
  color: #07a8ff;
  text-transform: uppercase;
}

section {
  display: flex;
  justify-content: center;
}

#calculator-body {
  background-color: #07a8ff;
  width: 40%;
  height: 600px;
}
